@model IEnumerable<dotnetmvc.Models.Aluno>

@{
    ViewData["Title"] = "Listagem de Alunos";
}

<h2>Alunos</h2>

<p>
    <a asp-action="Adicionar">Adicionar Aluno</a>
</p>

<table class="table">
    <thead>
        <tr>
            @* Esse displaynamefor pega o nome de uma propriedade, e elas estão sendo listadas
            como o nome da coluna da tabela *@
            <th>@Html.DisplayNameFor(model => model.Matricula)</th>
            <th>@Html.DisplayNameFor(model => model.Nome) </th>
            <th>@Html.DisplayNameFor(model => model.Sobrenome)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.DataNascimento)</th>
            <th>@Html.DisplayNameFor(model => model.Ativo)</th>
        </tr>
    </thead>
    <tbody>
        @* Listando todos os alunos *@

        @foreach (var aluno in Model)
        {
            // recebendo a data de nascimento no formato DateTime no formato "00/00/00 00:00:00"
            // e covertendo para o formato "00/00/00"
            string DataNascimentoFormatada = aluno.DataNascimento.ToString("dd/MM/yyyy");
            <tr>
                <td>@Html.DisplayFor(model => aluno.Matricula)</td>
                <td>@Html.DisplayFor(model => aluno.Nome)</td>
                <td>@Html.DisplayFor(model => aluno.Sobrenome)</td>
                <td>@Html.DisplayFor(model => aluno.Email)</td>
                <td>@Html.DisplayFor(model => DataNascimentoFormatada)</td>
                <td>@Html.DisplayFor(model => aluno.Ativo)</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@aluno.Matricula">Atualizar</a>
                    <a asp-action="Detalhes" asp-route-id="@aluno.Matricula">Detalhes</a>
                    <a asp-action="Deletar" asp-route-id="@aluno.Matricula">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>